name: Build a firmware

on:

  workflow_call:
    inputs:
      qmk_version:
        default: '0.22.14'
        type: string
        required: false
      keyboard:
        type: string
        required: true
      keymap:
        type: string
        required: true

jobs:

  build:

    name: Build a firmware ${{ inputs.keyboard }}:${{ inputs.keymap }}

    runs-on: ubuntu-22.04
    container:
      image: ghcr.io/qmk/qmk_cli:1.2.0
    env:
      PATH: "/usr/bin:/opt/uv/tools/qmk/bin:${PATH}"

    steps:

    - name: Show QMK version
      run: |
         qmk --version

    - name: Checkout source
      uses: actions/checkout@v4

    - name: Checkout qmk_firmware
      uses: actions/checkout@v4
      with:
        submodules: recursive

    #-- name: Install a link to own source
    #-  run: ln -s $(pwd)/qmk_firmware/keyboards/keyball __qmk__/keyboards/keyball

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.11"  

    #- name: Install QMK python dependencies (QMK venv)
    #  run: |
    #   /opt/uv/tools/qmk/bin/python3 -m pip install -r __qmk__/requirements.txt
  
    #- name: Import keyboard metadata
    #  run: qmk import-keyboard __qmk__/keyboards/keyball/keyball39/info.json

    - name: Build QMK
      shell: bash
      run: |
        cd qmk_firmware
        make keyball39:${{ inputs.keymap }}

    - name: Show QMK root contents
      run: ls -l qmk_firmware

    - name: Archive built firmware
      uses: actions/upload-artifact@v4
      with:
        name: ${{ inputs.keyboard }}-${{ inputs.keymap }}-firmware
        path: __qmk__/*.uf2
