name: Build firmware

on:
  workflow_call:
    inputs:
      keyboard:
        type: string
        required: true
      keymap:
        type: string
        required: true

jobs:
  build:
    runs-on: ubuntu-22.04
    container:
      image: ghcr.io/qmk/qmk_cli:1.2.0

    steps:
    - name: Checkout keyball repo
      uses: actions/checkout@v4

    - name: Show QMK version
      run: qmk --version

    - name: Clone official QMK 0.22.14
      run: |
        git clone https://github.com/qmk/qmk_firmware.git \
          --depth 1 --recurse-submodules --shallow-submodules \
          -b 0.22.14 qmk
        ls -l qmk/keyboards

    - name: Link keyball keyboard into QMK
      run: |
        cd qmk
        mkdir -p keyboards/keyball
        ln -s $GITHUB_WORKSPACE/${{ inputs.keyboard }} keyboards/keyball/${{ inputs.keyboard }}
        echo "==== keyboards/keyball ===="
        ls -R keyboards/keyball

    - name: Install QMK python dependencies
      run: |
        cd qmk
        /opt/uv/tools/qmk/bin/python3 -m pip install -r requirements.txt

    - name: Build
      run: |
        cd qmk
        make -j8 SKIP_GIT=yes keyball/${{ inputs.keyboard }}:${{ inputs.keymap }}

    - name: List artifacts
      run: ls -R qmk/.build

    - name: Upload firmware
      uses: actions/upload-artifact@v4
      with:
        name: ${{ inputs.keyboard }}-${{ inputs.keymap }}-firmware
        path: |
          qmk/.build/*.uf2
          qmk/.build/*.hex
