name: Build a firmware

on:
  workflow_call:
    inputs:
      keyboard:
        type: string
        required: true
      keymap:
        type: string
        required: true

jobs:
  build:
    name: Build firmware ${{ inputs.keyboard }}:${{ inputs.keymap }}

    runs-on: ubuntu-22.04
    container:
      image: ghcr.io/qmk/qmk_cli:1.2.0
    env:
      PATH: "/usr/bin:/opt/uv/tools/qmk/bin:${PATH}"

    steps:
      - name: Checkout keyball repo
        uses: actions/checkout@v4

      - name: Show QMK CLI version
        run: qmk --version

      - name: Clone QMK 0.22.14
        run: |
          git clone https://github.com/qmk/qmk_firmware.git \
            --depth 1 --recurse-submodules --shallow-submodules \
            -b 0.22.14 qmk

      - name: Link keyball keyboard directory
        run: |
          cd qmk/keyboards
          ln -s ../../qmk_firmware/keyboards/keyball keyball
          ls keyball

      - name: Build QMK
        run: |
          cd qmk
          make -j8 SKIP_GIT=yes keyball/${{ inputs.keyboard }}:${{ inputs.keymap }}

      - name: List build artifacts
        run: |
          ls -R qmk/.build

      - name: Upload firmware
        uses: actions/upload-artifact@v4
        with:
          name: ${{ inputs.keyboard }}-${{ inputs.keymap }}-firmware
          path: |
            qmk/.build/*.uf2
            qmk/.build/*.hex
