name: Build a firmware

on:

  workflow_call:
    inputs:
      qmk_version:
        default: '0.22.14'
        type: string
        required: false
      keyboard:
        type: string
        required: true
      keymap:
        type: string
        required: true

jobs:

  build:

    name: Build a firmware ${{ inputs.keyboard }}:${{ inputs.keymap }}

    runs-on: ubuntu-22.04
    container:
      image: ghcr.io/qmk/qmk_cli:latest

    steps:

    - name: Checkout source
      uses: actions/checkout@v4

    - name: Checkout qmk_firmware
      uses: ./.github/actions/checkout-qmk_firmware

    - name: Install a link to own source
      run: ln -s $(pwd)/qmk_firmware/keyboards/keyball __qmk__/keyboards/keyball

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
       python-version: "3.11"

    - name: Create virtual environment & install requirements
      shell: bash
      run: |
        python3 -m venv .venv
        source .venv/bin/activate
        pip install --upgrade pip
        pip install -r __qmk__/requirements.txt

    - name: Build QMK
      shell: bash
      run: |
        source .venv/bin/activate
        qmk setup -y
        qmk compile -kb <keyboard> -km <keymap>

    - name: Compile and link
      run: qmk compile -j 4 -kb keyball/${{ inputs.keyboard }} -km ${{ inputs.keymap }}

    - name: Archive built firmware
      uses: actions/upload-artifact@v4
      with:
        name: ${{ inputs.keyboard }}-${{ inputs.keymap }}-firmware
        path: __qmk__/*.hex
