name: Build a firmware

on:
  workflow_call:
    inputs:
      keyboard:
        type: string
        required: true
      keymap:
        type: string
        required: true

jobs:
  build:
    runs-on: ubuntu-22.04
    container:
      image: ghcr.io/qmk/qmk_cli:1.2.0
    env:
      PATH: "/usr/bin:/opt/uv/tools/qmk/bin:${PATH}"

    steps:
      - uses: actions/checkout@v4

      - name: Show QMK version
        run: qmk --version

      - name: Clone QMK 0.22.14
        run: |
          git clone https://github.com/qmk/qmk_firmware.git \
            --depth=1 --recurse-submodules -b 0.22.14 qmk_firmware
          ls -l qmk_firmware

      - name: Link keyboard into QMK
        run: |
          mkdir -p qmk_firmware/keyboards/keyball
          ln -s $(pwd)/${{ inputs.keyboard }} qmk_firmware/keyboards/keyball/${{ inputs.keyboard }}
          ls -R qmk_firmware/keyboards/keyball

      - name: Install QMK python deps
        run: |
          cd qmk_firmware
          /opt/uv/tools/qmk/bin/python3 -m pip install -r requirements.txt || true

      - name: Build firmware
        run: |
          cd qmk_firmware
          make -j8 SKIP_GIT=yes keyball/${{ inputs.keyboard }}:${{ inputs.keymap }}

      - name: List artifacts
        run: ls -R qmk_firmware/.build

      - uses: actions/upload-artifact@v4
        with:
          name: ${{ inputs.keyboard }}-${{ inputs.keymap }}
          path: |
            qmk_firmware/.build/*.uf2
            qmk_firmware/.build/*.hex
